{% extends './layoutBackend.njk' %}

{% block style %}
<style>
  .backend-title{
    cursor:pointer;
  }

  .backend-right{
    flex:1;
  }
  .clue-container {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
  }

  .clue-container>div {
    background-color: #f1f2f2;
    flex: 1;
    padding: 20px 10px 0;
  }

  .clue-left>div {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .clue-stuff__text,
  .clue-statue__text {
    font-size: 18px;
    border-bottom: 1px solid #333;
    padding: 10px;
  }

  .clue-remark {
    display: flex;
    flex-direction: column;
  }

  .clue-remark__input,
  .clue-add__input {
    margin: 10px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    height: 100px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
  }

  .clue-remark__save,
  .clue-add__submit {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
  }

  .trace-item {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .trace-item__text {
    font-size: 14px;
    font-weight: 600;
    color: #666;
  }

  .clue-add {
    display: flex;
    flex-direction: column;
  }

  .clue-add {
    margin-top: 20px;
  }
</style>
{% endblock %}

{% block backendRight %}

<div class="backend-right">
  <div class="backend-title">返回线索列表>></div>
  <div class="clue-container">
    <div class="clue-left">
      <div class="clue-name">客户名称：{{ customer.name }}</div>
      <div class="clue-tel">联系电话：{{ customer.phone }}</div>
      <div class="clue-src">线索来源：{{ customer.source }}</div>
      <div class="clue-create">创建时间：{{ customer.created_at }}</div>
      <div class="clue-statue">
        <div class="clue-statue__title">用户状态</div>
        <div class="clue-statue__text">{{ customer.status }}</div>
      </div>
      <div class="clue-stuff">
        <div class="clue-stuff__title">当前分配销售</div>
        <div class="clue-stuff__text">{{ customer.username }}</div>
      </div>
      <div class="clue-remark">
        <div class="clue-remark__title">备注</div>
        <textarea class="clue-remark__input" name="remark" id="clue-remark__input" cols="30" rows="10">{{ customer.remark }}</textarea>
        <button class="clue-remark__save">保存</button>
      </div>
    </div>
    <div class="clue-right">
      <div class="trace-list">

        {% for clue_item in clue_list %}
        <div class="trace-item">
          <div class="trace-item__title">
            {{ clue_item.created_at }}
          </div>
          <div class="trace-item__text">
            {{ clue_item.content }}
          </div>
        </div>
        {% endfor %}
        
      </div>
      <div class="clue-add">
        <div class="clue-add__title">添加记录：</div>
        <textarea class="clue-add__input" name="remark" id="clue-add__input" cols="30" rows="10" placeholder="请输入本次跟踪的记录~"></textarea>
        <button class="clue-add__submit">添加</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
  
{% block js %}
<script>

  const clurDetailPage = {
    init:function(){
      this.bind()
    },
    bind:function(){
      $('.backend-title').on('click',()=>{location.href = "/admin/clue/"})

      $('.clue-remark__save').on('click',this.handleSave)
      $('.clue-add__submit').on('click',this.handleSubmit)
    },
    handleSave:function(e){
      let remark = $('#clue-remark__input').val()
      if(!remark){
        alert('请填入备注信息！')
        return
      }
      $.ajax({
        url: "/api/customer",
        type: "PUT",
        data: { id:{{ clueInfo }}, remark },
        success: function(data) {
          if(data.code===200){
            alert('备注修改成功~')
            location.reload()
          }else{
            console.log(data)
          }
        },
        errot: function(err){
          console.log(err)
        }
      })
    },
    handleSubmit: function() {
      let content = $('#clue-add__input').val()
      if(!content){
        alert('请输入添加的记录！')
        return
      }
      $.ajax({
        url:'/api/clue',
        method: 'POST',
        data: { customerid: {{ clueInfo }},content },
        success: function(data) {
          if(data.code===200){
            alert('添加成功~')
            location.reload()
          }else{
            console.log(data)
          }
        },
        errot: function(err){
          console.log(err)
        }
      })
    }
  }
  clurDetailPage.init()
  //console.log({{clue_list}})
  // <div>{{ clueInfo }}</div>
</script>
{% endblock %}
