<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  
  <title>{{title}}</title>
  
  {% block style %}
  {% endblock %}
</head>
<body>
  <header class="page-header">
    {% block headerLeft %}
    <div class="header-left"> 
      <div class="header-logo"></div>
      <div class="header-title">
        <div class="header-title__main">Mercedes-Benz</div>
        <div class="header-title__sub">The best or nothing.</div>
      </div>
    <div>
    {% endblock %}
    
    {% block headerRight %}

    {% endblock %}
    
  </header>
  <div class="page-body">
    {% block content %}
    
    {% endblock %}
  </div>

  {% block footer %}
  <footer class="page-footer">
    <div class="page-footer__copyright">
      Copyright@2019 xxxx体验技术部出品（孙磊超重置 2024/1/16）
    </div>
  </footer>
  {% endblock %}

  <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>

  {% block js %}
  {% endblock %}

</body>
</html>