{% extends './layout.njk' %}

{% block style %}
{% endblock %}


{% block content %}
<div class="reserve-section">
  <div class="reserve-title">
    <div class="reserve-title__text">预约试驾</div>
  </div>
  <div class="reserve-form">
    <div class="form-title">
      欢迎在线预约试驾。只需填写姓名及手机号，我们会第一时间与您联系，安排试驾事宜。
    </div>
    <div class="form-table">
      <input type="text" id="name" name="name" placeholder="您的姓名">
      <input type="tel" id="tel" name="tel" placeholder="您的电话">
      <button id="form-submit">马上抢占名额</button>
    </div>
  </div>
  <div class="reserve-mobile"></div>
</div>

{% endblock %}
  
{% block js %}
<script>
  const signupPage = {
    init:function(){
      this.bind()
    },
    bind:function(){
      $('#form-submit').on('click',this.handleSignup)
    },
    handleSignup:function(){
      let name = $('#name').val()
      let tel = $('#tel').val()
      if (!name || !tel){
        alert('请填充完整后重试~')
        return
      }
      $.ajax({
        url:'/api/customer',
        method: "POST",
        data: { name, tel, utf:"{{utf}}" },
        success: function(data) {
          if(data.code===200){
            alert('信息提交成功，稍后会有工作人员与您联系~')
            location.reload()
          } else {
            console.log(data)
          }
        },
        error: function(err) {
          console.log(err)
        }
      })
    },
  }
  signupPage.init()
</script>
{% endblock %}
